In [15]:
from collections import namedtuple

class CarBrands:
    def __init__(self):
        """named tuple for the parking ticket informations"""
        self.park_tk = namedtuple('park_tk','Summons_Number Plate_ID Registration_State Plate_Type Issue_Date Violation_Code Vehicle_Body_Type Vehicle_Make Violation_Description')
        self.violations_brand = {}
    
    def brands(self,f_name):
        """lazy iterator to iterate parking ticket informations"""
        with open(f_name, encoding='utf8', errors='ignore') as f:
            for line in f:
                yield line.strip('\n')

    def find_violations(self):
        """find the violations made by the car brands"""
        info = namedtuple('park_tk', ['tickets'])
        files = "nyc_parking_tickets_extract-1.csv"
        i=0
        for brand in self.brands(files):
            tickets = brand.split(",")
            if(i==0):
                pass
            elif(i==1):
                s=self.park_tk(tickets[0],tickets[1],tickets[2],tickets[3],tickets[4],tickets[5],tickets[6],tickets[7],tickets[8])
                t = info(s)
            else:
                s=self.park_tk(tickets[0],tickets[1],tickets[2],tickets[3],tickets[4],tickets[5],tickets[6],tickets[7],tickets[8])
                t += info(s)
            i+=1

        for prof in t:
            bg = prof.Vehicle_Make
            if bg not in self.violations_brand:
                self.violations_brand[bg]=0
            else:
                self.violations_brand[bg]+=1


        for i in self.violations_brand:
            print(i,self.violations_brand[i])

    def most_violated(self):
        """most violated car brand"""
        prev_count = 0
        for i in self.violations_brand:
            count = self.violations_brand[i]
            if count>prev_count:
                prev_count = count
                most_violated_brand = i
        print("\nmost violated car brand:",most_violated_brand)

In [16]:
c = CarBrands()

c.find_violations()

c.most_violated()

BMW 33
CHEVR 75
DODGE 44
FORD 103
FRUEH 43
HONDA 105
LINCO 11
TOYOT 111
CADIL 8
CHRYS 11
FIR 0
GMC 34
HYUND 34
JAGUA 2
JEEP 21
LEXUS 25
ME/BE 37
MERCU 3
MITSU 10
NISSA 69
HIN 5
NS/OT 17
WORKH 1
ACURA 11
AUDI 11
INTER 24
ISUZU 9
KENWO 4
KIA 7
OLDSM 0
SUBAR 17
VOLVO 11
SATUR 1
SMART 2
INFIN 12
PETER 0
 4
CITRO 0
ROVER 4
BUICK 4
GEO 0
MAZDA 4
PORSC 2
VOLKS 7
YAMAH 0
BSA 0
MINI 0
PONTI 0
SPRI 0
PLYMO 0
SCION 1
UPS 0
FIAT 0
UD 0
UTILI 0
GMCQ 0
SAAB 1
HINO 1
STAR 0
AM/T 0
MI/F 0

most violated car brand: TOYOT